@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,800&family=Quicksand:wght@300..700&family=Sen:wght@400..800&display=swap");

:root {
  --colortext: #181821;
  --colorbutton1: #009fff;
  --colorbutton2: #ff6d6d;
  --colorBG: #f1eee3;

  --font: "Poppins", sans-serif;
}

body {
  color: var(--colortext);
  font-family: var(--font);
}
.vector {
  fill: #181821;
  stroke: #181821;
}
a {
  text-decoration: none;
  color: inherit;
}
.button.language {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  border: 2px solid var(--colorbutton1);
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
}
.button.language .text {
  font-size: 20px;
  font-weight: 500;
  color: var(--colortext);
}
.button.language .icon.flag {
  width: 25px;
  height: 16px;
}
.button.language:hover {
  box-shadow: 0px 4px 15px rgba(0, 159, 255, 0.4);
  transition: all 0.3s ease;
}
